version: "3.4"
services:
  site:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/grav:delegated
    command: "php -S 0.0.0.0:80 /grav/system/router.php"
    networks:
      - web
    labels:
      - traefik.enable=true
      - "traefik.http.routers.${APP_PROJECT}.rule=Host(`${APP_URL}`)"
      - "traefik.http.services.${APP_PROJECT}-service.loadbalancer.server.port=80"
networks:
  web:
    external: true
