services:

  nginx:
    container_name: ${APP_PROJECT}-nginx
    image: nginx:stable-alpine
    env_file:
      - .env
    volumes:
      - .:/var/www/app/:rw
      - ./.docker/nginx/nginx.conf:/etc/nginx/templates/default.conf.template
      - ./.docker/logs/nginx:/var/log/nginx
    labels:
      # Simple HTTP traefik support
      - "traefik.http.routers.${APP_PROJECT}.rule=Host(`${APP_DOMAIN}`)"
      - "traefik.http.services.${APP_PROJECT}-service.loadbalancer.server.port=80"
      # # TLS support, http>https redirection middleware, //www.domain>//domain redirection middleware
      # - "traefik.http.routers.${APP_PROJECT}.entrypoints=http"
      # - "traefik.http.routers.${APP_PROJECT}.rule=Host(`www.${APP_DOMAIN}`,`${APP_DOMAIN}`)"
      # - "traefik.http.routers.${APP_PROJECT}.middlewares=redirect-without-www@file,redirect-to-https@file"
      # - "traefik.http.routers.${APP_PROJECT}-secure.entrypoints=https"
      # - "traefik.http.routers.${APP_PROJECT}-secure.rule=Host(`www.${APP_DOMAIN}`,`${APP_DOMAIN}`)"
      # - "traefik.http.routers.${APP_PROJECT}-secure.tls=true"
      # - "traefik.http.routers.${APP_PROJECT}-secure.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.${APP_PROJECT}-secure.middlewares=redirect-without-www@file"
      # # Enable https://crazymax.dev/diun/
      # - "diun.enable=true"
      # # Enable https://containrrr.dev/watchtower/
      # - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - php-fpm

  php-fpm: &php-fpm
    container_name: ${APP_PROJECT}-php-fpm
    hostname: ${APP_PROJECT}-php-fpm
    image: ${APP_PROJECT}-php-fpm
    build:
      context: .
      dockerfile: .docker/php-fpm/Dockerfile
    env_file:
      - .env
    volumes:
      - .:/var/www/app/:rw
    user: "${UID:-1000}:${GID:-1000}"
    labels:
      - "traefik.enable=false"

# docker-compose run --rm composer require machin/truc
  composer:
    <<: *php-fpm
    container_name: ${APP_PROJECT}-composer
    working_dir: /var/www/app/
    command: -V
    entrypoint: ['/usr/bin/composer']

# docker-compose run --rm grav install
  grav:
    <<: *php-fpm
    container_name: ${APP_PROJECT}-grav
    working_dir: /var/www/app/
    command: -V
    entrypoint: ['bin/grav']

# docker-compose run --rm gpm install admin
  gpm:
    <<: *php-fpm
    container_name: ${APP_PROJECT}-gpm
    working_dir: /var/www/app/
    command: -V
    entrypoint: ['bin/gpm']

# docker-compose run --rm plugin
  plugin:
    <<: *php-fpm
    container_name: ${APP_PROJECT}-plugin
    working_dir: /var/www/app/
    command: login -V
    entrypoint: ['bin/plugin']

# docker-compose run --rm npm install
  npm: &npm
    image: node:alpine
    container_name: ${APP_PROJECT}-npm
    volumes:
      - .:/var/www/app/:rw
    working_dir: /var/www/app/
    user: "node"
    command: -v
    entrypoint: ['npm']

  npx:
    <<: *npm
    entrypoint: ['npx']

networks:
  default:
      name: web
      external: true
