services:

  php: &php
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/app:delegated
    user: "${UID:-1000}:${GID:-1000}"
    command: "php -S 0.0.0.0:80 -t /app"
    labels:
      # Simple HTTP traefik support
      - "traefik.http.routers.${APP_PROJECT}.rule=Host(`${APP_DOMAIN}`)"
      - "traefik.http.services.${APP_PROJECT}-service.loadbalancer.server.port=80"

      # # TLS support, http>https redirection middleware, //www.domain>//domain redirection middleware
      # - "traefik.http.routers.${APP_PROJECT}.entrypoints=http"
      # - "traefik.http.routers.${APP_PROJECT}.rule=Host(`www.${APP_DOMAIN}`,`${APP_DOMAIN}`)"
      # - "traefik.http.routers.${APP_PROJECT}.middlewares=redirect-without-www@file,redirect-to-https@file"
      # - "traefik.http.routers.${APP_PROJECT}-secure.entrypoints=https"
      # - "traefik.http.routers.${APP_PROJECT}-secure.rule=Host(`www.${APP_DOMAIN}`,`${APP_DOMAIN}`)"
      # - "traefik.http.routers.${APP_PROJECT}-secure.tls=true"
      # - "traefik.http.routers.${APP_PROJECT}-secure.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.${APP_PROJECT}-secure.middlewares=redirect-without-www@file"

      # # Enable https://crazymax.dev/diun/
      # - "diun.enable=true"

      # # Enable https://containrrr.dev/watchtower/
      # - "com.centurylinklabs.watchtower.enable=true"

  # docker-compose run --rm composer require machin/truc
  composer:
    <<: *php
    container_name: ${APP_PROJECT}-composer
    working_dir: /app/
    command: -V
    entrypoint: ['/usr/bin/composer']

networks:
  default:
      name: web
      external: true
