version: '3'

services:

  nginx:
    container_name: ${APP_PROJECT}-nginx
    image: nginx:stable-alpine
    env_file:
      - .env
    volumes:
      - ./.docker/nginx/templates:/etc/nginx/templates:cached
      - .:/var/www/app:delegated
      # - ./.docker/logs/nginx:/var/log/nginx
    networks:
      - web
    labels:
      - "traefik.http.routers.${APP_PROJECT}.rule=Host(`${PS_DOMAIN}`)"
      - "traefik.http.services.${APP_PROJECT}-service.loadbalancer.server.port=80"
    depends_on:
      - php-fpm

  php-fpm:
    container_name: ${APP_PROJECT}-php-fpm
    image: ${APP_PROJECT}-php-fpm
    build: .docker/php-fpm/
    env_file:
      - .env
    volumes:
      - .:/var/www/app/:delegated
      - ./.docker/php-fpm/php.ini:/usr/local/etc/php/php.ini:cached
      - ./.docker/php-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf:cached
    user: "${UID:-1000}:${GID:-1000}"
    networks:
      - web

  mariadb:
    container_name: ${APP_PROJECT}-mariadb
    image: mariadb:latest
    # ports:
    #   - "3306:3306"
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWD}
      - TZ=Europe/Paris
    volumes:
      - ./.docker/database:/var/lib/mysql:delegated
      # - ../path/to/initial_dump.sql:/docker-entrypoint-initdb.d/dump.sql
    user: "${UID:-1000}:${GID:-1000}"
    networks:
      - web

  adminer:
    container_name: ${APP_PROJECT}-adminer
    image: adminer:latest
    environment:
        ADMINER_DEFAULT_SERVER: ${DB_SERVER}
        ADMINER_DESIGN: flat
    ports:
      - 8888:8080
    networks:
      - web

networks:
  web:
    external: true
